name: Build PDF

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Compile LaTeX
        uses: xu-cheng/latex-action@v4
        with:
          working_directory: src
          root_file: main.tex

      - name: Rename PDF
        run: |
          REPO_NAME="${GITHUB_REPOSITORY##*/}"
          SHORT_SHA="${GITHUB_SHA::7}"
          mv src/main.pdf "src/${REPO_NAME}-${SHORT_SHA}.pdf"

      - name: Upload PDF
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.event.repository.name }}-${{ github.sha }}
          path: src/*.pdf